@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

.dhRoot {
    th {
        text-align: left !important;
    }

    :global(td.invalid-cell) {
        background-color: theme-color-level("danger", -10) !important;
    }

    :global(td.empty-invalid-cell) {
        background-color: theme-color-level("danger", -7) !important;
    }

    :global(th.required) {
        background-color: theme-color-level("warning", -10) !important;
    }
}
